.bookList{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.book{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}
.bookTitle{
    cursor: pointer;
    color: blue;
}
.error{
    color: red;
}
.goback{
    margin-top: 20px;
    padding: 10px;
    
}
.circle{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
}